body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background: #FDFCEF;
	border-radius: 50px;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

section {
	padding-top: 120px;
}

p {
	line-height: 1.367em;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;	
}

.header {
	padding-top: 60px;
}

.logo {
	display: block;
	max-width: 182px;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 82px;
}

h1 {
	font-size: 50px;
	line-height: 70px;
}

h2 {
	font-size: 40px;
	line-height: 56px;
}

h3 {
	font-size: 30px;
	line-height: 42px;;
}

.features h2 {
	margin-bottom: 70px;
	text-align: center;
}

.wrapper p {
	width: 423px;
	margin: 30px 0;
}

.header.image {
	width: 465px;
}

.feature {
	display: flex;
	align-items: center;
	
}
.features-container {
	width: 720px;
	display: flex;
	flex-direction: column;
	gap: 34px;
	margin: 0 auto;
}

.feature-wrapper {
	margin-left: 34px;
}

.feature-wrapper {
	width: 613px;
}

.button {
	display: block;
	background: #FF6861;
	border-radius: 100px;
	color: white;
	text-decoration: none;
	width: 227px;
	height: 69px;
	padding: 22px 70px;
	font-weight: 700;
	text-align: center;
	transition: all 0.5 ease;
}

.button:hover {
	background: rgb(236, 129, 129);
}

.action-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action-text {
	margin: 76px 0 75px 122px;
	width: 475px;
}

.action-wrapper p {
	margin: 24px 0;
	align-items: center;
}

.action .container {
	background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
	border-radius: 60px;
}

.action-wrapper .image {
	margin-right: 125px;
}

.credits {
	font-size: 15px;
	text-align: center;
	padding: 120px 0;
}